{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-success" href="{{ path('game_list') }}">Inapoi La listare</a>

    <h2 class="page-header">Adaugare Jucator</h2>

    {% if not fighters %}
        <p>Nu sunt jucatori disponibili</p>
    {% endif %}
    <ul class="row">
    {% for fighter in fighters %}
        <li class="">
            <a class="col-sm-6" href="{{ path('game_add_fighter', {gameId:gameId,fighterId:fighter.id,team:'white'}) }}">White :[{{ fighter.id }}]-{{ fighter.name }}</a>
            <a class="col-sm-6" href="{{ path('game_add_fighter', {gameId:gameId,fighterId:fighter.id,team:'black'}) }}">Black :{{ fighter.id }}-{{ fighter.name }}</a>
        </li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}